body {
  margin-left: 300px;
  margin-right: 300px;
}

.img-option {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.header {
  background-color: black;
  color: white;
  padding: 4px;
  font-style: italic;
  margin-left: -300px;
  margin-right: -300px;
  text-align: center;
}

.img-result {
  width: 500px;
  margin: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #000000; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1.5s ease-in-out infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin: 20px;
  font-family: Helvetica;
  font-weight: 200;
}

h3 {
  font-family: Helvetica;
  font-weight: 200;
}
h4 {
  font-family: Helvetica;
  font-weight: 200;
}
h2 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
}

/* UPLOAD FILE */

.it .btn-orange
{
	background-color: blue;
	border-color: #777!important;
	color: #777;
	text-align: left;
  width:100%;
}
.it input.form-control
{
	
	border:none;
  margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.it .form-control:focus
{
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* UPLOAD FILE END */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
