.img-option {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.header {
  background-color: black;
  color: white;
  padding: 4px;
  font-style: italic;
}

.img-result {
  width: 500px;
  margin: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #000000; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1.5s ease-in-out infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin: 20px;
  font-family: Helvetica;
  font-weight: 200;
}

h3 {
  font-family: Helvetica;
  font-weight: 200;
}
h4 {
  font-family: Helvetica;
  font-weight: 200;
}
h2 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
